@import "includes";

.item {
  .label {
    @include text;
    font-size: 12px;
    color: $grey;
    opacity: .7;

  }

  .value {
    @include text;
    font-size: 16px;

    &--upper {
      text-transform: uppercase;
    }
  }
}
