<app-modal-page title="Detalhes da moeda" (end)="close()">
    <div class="header">
        <div class="left">
            <div class="inline">
                <div class="container-img">
                    <img [src]="data.image.large">
                </div>
                <div class="infos">
                    <label class="rank">Rank #{{ data.market_data.rank }}</label>
                    <label class="name">{{ data.name }} ({{ data.symbol }})</label>
                    <a class="site" [href]="data.links.homepage" target="_blank">{{ data.links.homepage }}</a>
                </div>
            </div>
            <div class="price">{{ data.market_data.price.brl | money }}</div>
        </div>
        <div>
            <app-button (clickEvent)="openModal()" label="comprar" [fullWidth]="hasMobile"></app-button>
        </div>
    </div>
    <div class="content">
        <div class="social">
            <div class="item">
                <div class="label">Comunidade</div>
                <div class="badges">
                    <div *ngIf="showReddit" (click)="goReddit()" class="badge badge--reddit">
                        <app-social social="reddit"></app-social>
                        Reddit
                    </div>
                    <div *ngIf="showFacebook" (click)="goFacebook()" class="badge badge--facebook">
                        <app-social social="facebook"></app-social>
                        Facebook
                    </div>
                    <div *ngIf="showTwitter" (click)="goTwitter()" class="badge badge--twitter">
                        <app-social social="twitter"></app-social>
                        Twitter
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="label">Código fonte</div>
                <div class="badges">
                    <div (click)="goGithub()" class="badge badge--github">
                        <app-social social="github"></app-social>
                        Github
                    </div>
                </div>
            </div>
        </div>

        <div class="description">
            <app-collapsible>
                <div header>
                    <div class="section-title">Descrição</div>
                </div>
                <div content>
                    <p [innerHTML]="data.description"></p>
                </div>
            </app-collapsible>
        </div>

        <div class="chart-container">
            <div class="section-title">Valor de mercado</div>

            <ng-container *ngIf="!loading">
                <app-chart [data]="chart"></app-chart>
            </ng-container>
            <ng-container *ngIf="loading">
                <div class="loading">
                    <app-loading></app-loading>
                </div>
            </ng-container>
        </div>

        <div class="chart-container">
            <div class="section-title">Volume de mercado</div>

            <ng-container *ngIf="!loading">
                <app-chart [data]="chartVolume"></app-chart>
            </ng-container>
            <ng-container *ngIf="loading">
                <div class="loading">
                    <app-loading></app-loading>
                </div>
            </ng-container>
        </div>
    </div>
</app-modal-page>

<app-modal-pay (payEvent)="pay($event)" [data]="dataModal" [loading]="modalLoading">
    {{ dataModal?.price | money }}
</app-modal-pay>