<div class="root" [@initial]="animate">
    <div class="container">
        <div class="content">
            <div class="safe-button">
                <button (click)="toogle()" mat-button>
                    <mat-icon>{{ button.icon }}</mat-icon>
                    {{ button.label }}
                </button>
            </div>
            <div class="grid">
                <div class="col">
                    <div class="label">Meus Investimentos</div>
                    <div safe-value class="value">{{ amountInvested | money }}</div>
                </div>
                <div class="col">
                    <div class="label">Meu Patrimônio</div>
                    <div safe-value class="value">{{ patrimony | money }}</div>
                </div>
                <div class="col">
                    <div class="label">Conta Crypto Coin</div>
                    <div safe-value class="value">{{ account | money }}</div>
                </div>
            </div>
            <div class="coins">
                <div class="title">Meus Investimentos <span>{{ length }}</span></div>
                <div class="container-chart">
                    <div class="chart">
                        <app-chart [data]="chart"></app-chart>
                    </div>
                    <div class="list">
                        <table [@listAnimation]="data.coins.length">
                            <tr>
                                <th colspan="2">Atualizado em {{date}}</th>
                            </tr>
                            <ng-container *ngFor="let coin of data.coins; let i = index">
                                <tr>
                                    <td>
                                        <div class="bullet-container">
                                            <div class="bullet" [ngStyle]="{ 'background': colors[i] }"></div>
                                            {{ coin.name }} ({{coin.symbol}})
                                        </div>
                                    </td>
                                    <td safe-value style="text-align: right;">{{ coin.total.brl | money }}</td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="menu-container">
                <div class="text">
                    Para fazer seu dinheiro render mais, faça um aporte clicando no botão abaixo e comece a investir!
                </div>
                <div class="info">
                    <mat-icon>info</mat-icon>
                    <span>A transferência pode levar até 5 min para estar disponível</span>
                </div>
                <app-button label="Aporte" [fullWidth]="true"></app-button>
            </div>
        </div>
    </div>
</div>