@import "includes";

.root {
    .container {
        min-height: calc(100vh - 73px);
        @include grid();

        .content {
            @include grid-column-span(9);
            padding-right: 30px;

            @include for-large-tablet {
                @include grid-column-span(12);
                padding-right: 0px;
            }

            .safe-button {
                @include end;
                width: 100%;
                padding: 25px 0px 0px;

                @include for-tablet {
                    padding: 25px 0px;
                }

                button {
                    color: $primary;

                    mat-icon {
                        margin-right: 5px;
                    }
                }
            }

            // DESKTOP
            .grid {
                @include grid(3);
                padding-top: 30px;
                padding-bottom: 60px;

                .col {
                    @include grid-column-span(1);

                    .label {
                        @include text;
                        font-size: 18px;
                        opacity: 0.4;
                        margin-bottom: 5px;
                    }

                    .value {
                        @include header-title;
                        font-size: 32px;
                        color: $primary;
                    }
                }
            }

            // MOBILE
            .list {
                display: block;
                width: 100%;
                height: 120px;
                left: grid-custom-column(1);
                overflow-x: visible;
                position: relative;

                .label {
                    @include text;
                    font-size: 18px;
                    opacity: 0.4;
                    margin-bottom: 5px;
                }

                .value {
                    @include header-title;
                    font-size: 32px;
                    color: $primary;
                }

                ::ng-deep .pagination {
                    margin-left: grid-custom-column(-1);
                }
            }

            section {
                &:nth-child(n) {
                    margin-bottom: 90px;
                }

                .title {
                    @include page-title;

                    span {
                        font-size: 16px;
                        font-weight: $weight-regular;
                        color: $primary;
                    }
                }
            }

            .coins {
                .container-chart {
                    @include grid();
                    margin-top: 30px;

                    .empty {
                        @include grid-column-span(12);
                        @include center;
                        width: 100%;
                        height: 250px;
                        background-color: rgba(0,0,0,0.035);

                        .empty-container-icon {
                            margin: auto;
                            margin-bottom: 15px;
                            width: 100px;
                        }
                    }

                    .loading {
                        @include grid-column-span(12);
                        background-color: rgba(0,0,0,0.035);
                        position: relative;
                        height: 250px;
                    }

                    .chart {
                        @include grid-column-span(4);

                        @include for-tablet {
                            @include grid-column-span(12);
                        }
                    }

                    .list {
                        @include grid-column-span(8);

                        @include for-tablet {
                            @include grid-column-span(12);
                        }

                        table {
                            border-collapse: collapse;
                            width: 100%;
                            border: none;
                        }

                        td,
                        th {
                            border: none;
                            text-align: left;
                            padding: 8px;

                            .bullet-container {
                                @include start;

                                .bullet {
                                    padding: 5px;
                                    background: red;
                                    border-radius: 100%;
                                    margin-right: 10px;
                                }
                            }
                        }

                        tr:nth-child(even) {
                            background-color: #dddddd;
                        }
                    }
                }
            }

            .empty-container {
                @include center;
                margin-top: 30px;
                height: 250px;

                .content {
                    text-align: center;

                    .empty-container-icon {
                        margin: auto;
                        width: 100px;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .menu {
            @include grid-column-span(3);
            @include center;
            align-items: flex-start;
            width: 100%;
            border-left: 1px solid #e9e9e9;
            padding: 30px;
            padding-right: 0px;

            .menu-container {
                width: 100%;
                position: sticky;
                top: 30px;
                .text {
                    @include text;
                    font-size: 16px;
                    text-align: justify;
                    margin-bottom: 15px;
                }

                .info {
                    @include start;
                    font-size: 12px;
                    font-weight: $weight-light;
                    margin-bottom: 15px;

                    mat-icon {
                        color: $yellow;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
