<div class="root">
    <h3 class="title">Item</h3>

    <div class="sections">
        <section>
            <div class="container-item">
                <h5 class="sub-title">Bar</h5>
                <app-chart [data]="chart"></app-chart>
            </div>
        </section>

        <section>
            <div class="container-item container-item--small">
                <h5 class="sub-title">Donut</h5>
                <app-chart [data]="donut"></app-chart>
            </div>
        </section>

        <section class="full">
            <div class="container-item container-item--full">
                <h5 class="sub-title">Line</h5>
                <app-chart [data]="line"></app-chart>
            </div>
        </section>
    </div>
</div>