@import "includes";

.content {
    max-width: 600px;
    .title {
        @include page-title;
        margin-bottom: 15px;
    }

    .input-container {
        margin-bottom: 30px;
        .sub {
            @include text;
            margin-bottom: 30px;

            span {
                font-weight: $weight-bold;
            }
        }

        input {
            @include text;
            outline: none;
            border: none;
            font-size: 32px;
            padding: 15px 20px;
            border-radius: 4px;
            width: 100%;
        }
    }

    .buttons {
        @include grid();

        @include for-large-tablet {
            @include grid(12, 15px);
        }

        .button {
            @include grid-column-span(3);
            border: none;
            outline: none;
            padding: 15px 20px;
            font-size: 18px;
            border-radius: 4px;
            cursor: pointer;

            @include for-large-tablet {
                @include grid-column-span(6);
                margin-right: 0px !important;
            }

            &:nth-child(n) {
                margin-right: 15px;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .button-aport {
        @include end;
        width: 100%;
        margin-top: 30px;
    }
}

.container-final {
    width: 100%;

    .title {
        @include page-title;
        color: $primary;
    }

    .sub-title {
        @include page-sub-title;
    }

    .buttons {
        margin-top: 60px;
        @include end;

        @include for-mobile {
            display: block;
        }
    }
}
