<div class="root">
    <header>
        <div class="line"></div>
        <div class="container-header">
            <div class="content-header">
                <div class="left">
                    <ng-container *ngIf="!hasMobile">
                        <div class="logo">
                            <app-logo (click)="go('monitor')"></app-logo>
                        </div>
                        <div class="buttons">
                            <app-tabs (clickEvent)="go($event)" [tabs]="pages"></app-tabs>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="hasMobile">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <ng-container *ngFor="let page of pages">
                                <button class="button" [routerLink]="page.route" routerLinkActive="active"
                                    mat-menu-item>
                                    <mat-icon>{{ page.icon }}</mat-icon>
                                    <span>{{ page.label }}</span>
                                </button>
                            </ng-container>
                        </mat-menu>
                    </ng-container>
                </div>

                <div class="right">
                    <span>{{ name }}</span>
                    <app-avatar [matMenuTriggerFor]="menu" size="small" [user]="data.name">
                    </app-avatar>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button (click)="logout()" mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sair</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </header>
    <div class="content-container">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>