<div class="root" [@slide_XLR]="animate">
    <div class="title-container">
        <h3 class="title">Collapsible</h3>
    </div>

    <section>
        <h3 class="title">Collapsible</h3>
        <div class="container">
            <app-collapsible theme="light">
                <div header>
                    <span>Clique aqui!</span>
                </div>
                <div content>
                    <p>{{ loremIpsum }}</p>
                </div>
            </app-collapsible>
        </div>

        <div class="container">
            <app-collapsible theme="light">
                <div header>
                    <span>Clique aqui!</span>
                </div>
                <div content>
                    <p>{{ loremIpsum }}</p>
                </div>
            </app-collapsible>
        </div>
    </section>

    <section>
        <h3 class="title">Collapsible group</h3>
        <div class="container">
            <app-collapsible theme="light" [group]="true">
                <div header>
                    <span>Clique aqui!</span>
                </div>
                <div content>
                    <p>{{ loremIpsum }}</p>
                </div>
            </app-collapsible>
        </div>

        <div class="container">
            <app-collapsible theme="light" [group]="true">
                <div header>
                    <span>Clique aqui!</span>
                </div>
                <div content>
                    <p>{{ loremIpsum }}</p>
                </div>
            </app-collapsible>
        </div>
    </section>
</div>