<div class="root">
    <h3 class="title">Collapsible</h3>

    <section>
        <h5 class="sub-title">Individual collapsible</h5>
        <div class="container">
            <!-- <app-collapsible theme="light">
                <div header>
                    <div class="title-collpasible">Minha Conta</div>
                </div>
                <div body>
                    <div class="content">
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                    </div>
                </div>
            </app-collapsible>

            <app-collapsible theme="light">
                <div header>
                    <div class="title-collpasible">Minha Conta</div>
                </div>
                <div body>
                    <div class="content">
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                    </div>
                </div>
            </app-collapsible> -->
        </div>
    </section>

    <section>
        <h5 class="sub-title">Grupo collapsible</h5>
        <div class="container">
            <!-- <app-collapsible theme="light" [group]="true">
                <div header>
                    <div class="title-collpasible">Minha Conta</div>
                </div>
                <div body>
                    <div class="content">
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                    </div>
                </div>
            </app-collapsible> -->

            <!-- <app-collapsible theme="light" [group]="true">
                <div header>
                    <div class="title-collpasible">Minha Conta</div>
                </div>
                <div body>
                    <div class="content">
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                        <div class="item">Um texto aqui</div>
                    </div>
                </div>
            </app-collapsible> -->
        </div>
    </section>
</div>